/*-----base-----*/
*{margin:0;padding:0}
body{    font: 12px/1.5 hiragino sans gb,microsoft yahei,simsun;height:1000px;}
ul,dl,ol{list-style: none}
i,em{font-style:normal;}
strong{font-weight: normal}

image{border:none;}
a{text-decoration: none;display: inline-block;color: #2a2a2a;}
a:hover{color: #ff7800;}
span{display: inline-block;}

.outerside{width: 1349px;margin:0 auto;}

.floor{float: left}


.mark_vod, .mark_trailer, .mark_free_limit, .mark_pay, .mark_titbit, .mark_topic, .mark_microfilm, .mark_special, .mark_internet, .mark_original, .mark_clips, .mark_summary, .mark_skew_custom, .mark_vip_coupon, .mark_vip_free, .mark_theatrical, .mark_serial, .mark_first, .mark_hotline, .mark_upcoming, .mark_coming, .mark_info, .mark_plan, .mark_enjoy {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 0;
    line-height: 100;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url(../images/sprite_mark.png);
    z-index: 10;
}
.mark_free_limit{width: 55px;height: 55px;background-position: -300px -120px;}
.mark_custom{  right: 0;  top: 0;  padding: 0 2px 0 3px;  color: #fff;  font-size: 12px;  background-color: #FF8406;  filter: none;position: absolute;
}
.mark_custom em.mark_inner{color: #fff;}
.mark_clips{width: 46px;background-position: -200px -60px;}
/*------banner------*/

 /*   .bannertop--logo*/
.banner{width: 100%;}
.banner .bannertop{margin-left: 55px;height:77px;background: #fff;clear: both;float: left}
.bannertop div.logo{height:134px;width: 360px;background: url("../images/logo.png") no-repeat 0 -54px;clear: both;padding-top:10px;float: left;}
.bannertop div.logo span{float: left;background:url("../images/logo.png") no-repeat 0 0;width: 160px;height:54px; }
.bannertop div.logo img{float: left;overflow: hidden;margin-top:4px;margin-left:40px;}

/*bannertop -input*/
.bannertop form{float: left;padding-top: 16px;line-height: 44px;position: relative;}
.bannertop form input{background: url("../images/sprite_search.png") repeat-x 0 -54px;width: 398px;height:44px;border:1px solid #cecece;float: left;border-right:none;padding-left: 33.5px;outline: none;font: 12px/1.5 hiragino sans gb,microsoft yahei,simsun;font-size: 14px;}
.bannertop form i{float: left;height:46px;background: url("../images/sprite_search.png") no-repeat 0px  -108px;width: 91px;}
.bannertop form span.glass{display: inline-block;width: 14px;height:14px;background: url("../images/sprite_search.png") no-repeat 0 -206px;position: absolute;top:33px;left:11px;}

/*bannertop-ul*/
.bannertop ul.person{float: left;margin:20px 0 0 127px;text-align: center;}
.bannertop ul.person li{float: left;width: 26px;height:25px;vertical-align: bottom;line-height: 74px;background: url("../images/sprite_common.png") no-repeat;margin:0 15px;position: relative;}
.bannertop ul.person li>a{height:43px;}
.bannertop ul.person li::after{content: " ";width: 1px;height:26px;background: -webkit-linear-gradient(top,rgba(252,252,252,1) 0,rgba(232,232,232,1) 50%,rgba(252,252,252,1) 100%);position: absolute;right: -15px;top:4px;}
.bannertop ul.person li.first{background-position: 0 0;}
.bannertop ul.person li.second{background-position:-30px 0;}
.bannertop ul.person li.third{background-position: -90px 0;}
.bannertop ul.person li.QQ{background: url("../images/default_avatar.png") no-repeat left top;height:43px;width: 43px;border-radius: 50%;margin-left: 18px;}
.bannertop ul.person li.QQ::after{background: none;}
.bannertop ul.person li a{color: #b0b0b0;display: block}


/*bannertop-ul:hover*/
.bannertop ul li a{display: block}
.bannertop ul li a:hover{color: #ff7800;}
.bannertop ul.person li div{width: 380px;height:174px;box-shadow: 0 1px 2px #666;border-top:2px solid #ff7800;z-index: 99;border-radius: 0 0 1px 1px;position: absolute;left:-177px;top:56px;background: #fff;}
.bannertop ul.person li div i.triangleout{display:inline-block;width:7px;height:7px;border:solid #ff7800 2px;border-left:none;border-bottom:none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);position: absolute;top:-6px;background: #fff;left: 185px;}
.bannertop ul.person li.second div i.triangleout{left:145px;}
.bannertop ul.person li div i.triangle{position: absolute;top: -73px;left: 277px;border:5px solid #fff;}
.bannertop ul.person li div span.login{display: inline-block;background: #fe7700;height:30px;width: 100px;line-height: 30px;text-align: center;color: #fff !important;font-size: 16px;margin-top: 50px;cursor: pointer;}
.bannertop ul.person li div p{margin-top: -30px;color: #646464;}
.bannertop ul.person li.first a div.first-inner{display:none;}
.bannertop ul.person li.first a:hover div.first-inner{display: block;}
.bannertop ul.person li.second a div.second-inner{display:none }
.bannertop ul.person li.second a:hover div.second-inner{display: block}
.bannertop ul.person li.second div.second-inner{width: 300px;left:-136px;}

div.webktlinear{background:-webkit-linear-gradient(left,#18AAD0,#58CC1A,#22B0B4,#0FA6EA);
    width: 100%;height: 3px;float: left;}


/*bannerbottom*/
.bannerbottom{float: left;width: 100%;box-shadow: 0 2px 6px rgba(0,0,0,.4); background-color: rgba(247,247,247,.72);height:45px;transition: all .2s ease;position: relative;z-index: 2}
.bannerbottom ul{margin:0 50px 0 46.5px;}
.bannerbottom ul.bannerbottom-left{float: left;}
.bannerbottom ul.bannerbottom-right{float: right;}
.bannerbottom ul li{float: left;}
.bannerbottom ul li a{display:inline-block;padding:0 5px;color: #1e1e1e;font-size: 14px;transition: all .4s ease;    white-space: nowrap;height:45px;line-height: 45px;position: relative}
.bannerbottom ul.bannerbottom-right li a span{line-height: 24px;}
ul.bannerbottom-left li:nth-child(4)::after,ul.bannerbottom-left li:nth-child(9)::after,ul.bannerbottom-left li:nth-child(12)::after,ul.bannerbottom-left li:nth-child(17)::after,ul.bannerbottom-left li:nth-child(21)::after{content: "";background: #c7c6c0;height:16px;width: 1px;float: left;margin:14px 4px 0 5px;}
ul.bannerbottom-left li:nth-child(9) a::after{content:"";background: url("../images/sprite_common.png") no-repeat 0 -166px;width: 17px;height:7px;display: inline-block;position: absolute;top:9px;right:-5px;}
.bannerbottom ul.bannerbottom-right li i{background: url("../images/sprite_common.png") no-repeat ;width: 20px;height:20px;display: inline-block;margin-right:2px;margin-top:11px;}
.bannerbottom ul.bannerbottom-right li.download i.downloadicon{background-position: -99px -138px;height:18px;width: 19px;margin-right:5px;float: left}
.bannerbottom ul.bannerbottom-right li.vip i.vipicon{background-position: -190px -140px;float: left}
.bannerbottom ul li a:hover{color: #ff7800;text-shadow:0 0 20px #FF7800;}
.bannerbottom ul.bannerbottom-right li.download a:hover i{background-position: -119px -138px;}

/*bannerbottom-ul-li-ul*/
.bannerbottom ul li div{width:97%;position: absolute;height:44px;display:none;clear: both;top:45px;    background: rgba(247,247,247,.7);;transition: opacity .4s ease;left:0;padding-left:3%;overflow: hidden}
.bannerbottom ul li div a{float:left;margin:0 12px;display: block;color: #2a2a2a;transition: all .2s ease;}
.bannerbottom ul li div a:hover{text-shadow: none;}
.bannerbottom ul li a i.navigation{
    display: none;
    margin-left: -127px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 254px;
    height: 6px;
    overflow: hidden;
    background: url(../images/navigation_sign.png) 0 0 no-repeat;
    background-image: -webkit-image-set(url(../images/navigation_sign.png) 1x,url(../images/navigation_sign@2x.png) 2x);
   ;
}
.bannerbottom ul li a:hover i.navigation{display: block;}
.bannerbottom ul.bannerbottom-right li.vip div{width: 24%;padding-left:76%;}
.bannerbottom ul.bannerbottom-right li.vip div a{margin:0 10px;}
.bannerbottom ul.bannerbottom-right li.download div{width: 28%;padding-left: 72%}
.bannerbottom ul.bannerbottom-right li.download div a::before{content: "";width: 16px;height:13px;background: url("../images/sprite_common.png") no-repeat;float: left;margin-right: 5px;margin-top:15px; }
.bannerbottom ul.bannerbottom-right li.download div a{margin: 0 5px;}
.bannerbottom ul.bannerbottom-right li.download div a:nth-child(1)::before{background-position: -21px -111px;}
.bannerbottom ul.bannerbottom-right li.download div a:nth-child(2)::before{background-position: -44px -111px;}
.bannerbottom ul.bannerbottom-right li.download div a:nth-child(3)::before{background-position: 0 -111px;}



div.viweouter{width:1680px;overflow: hidden}
div.viweinner{position: relative;left: 0;width:23520px; }
div.viweinner div {float: left;width: 1680px}

/*-----------viwepager--------*/
div.viwepager{float: left;overflow: hidden;height:500px;width: 100%;clear: both;position: relative;z-index: 0;margin-bottom: 25px;}
div.viwepager div.viwebutton{height:50px;width: 1012px;background: rgba(0,0,0,0.5);position: absolute;bottom: 34px;left:169px;padding-top: 7px;padding-bottom: 7px;}
div.viwebutton div.viweouterside{width: 745px;float: left;overflow: hidden;height:50px;}
div.viwebutton div.viweouterside div.viwebtphotouter{width: 637px;height:50px;overflow: hidden;float: left}
div.viwebutton div.viwetext{width: 267px;float: left}
div.viwebutton div.viwetext span{padding-left: 10px;color: #fff;font-size: 18px;height:24px;line-height: 24px;display: inline-block;}
div.viwebutton .viwebtphoto{width:1288px;position: relative;left: 0;}
div.viwebutton .viwebtphoto li{float: left;background-color: #000;}
div.viwebutton .viwebtphoto li a{margin-right: 7px;width: 85px;height:50px;opacity: 0.6;position: relative}
div.viwebutton .viwebtphoto li a i.photohover{position:absolute;left: 0;top: 0;width: 79px;height:44px;border:3px solid #ff7800;display:inline-block;display: none;}
div.viwebutton .viwebtphoto li a:hover i.photohover{display: block}
div.viwebutton .viwebtphoto li a:hover{opacity: 1}
div.viwebutton .viweouterside span{display: inline-block;float: left}
div.viwebutton .viweouterside span.btn_prev a,div.viwebutton .viweouterside span.btn_next a{margin:0 10px;height:50px;width: 34px;background: #373737;transition: all .2s ease;  }
div.viwebutton .viweouterside span.btn_prev a:hover,div.viwebutton .viweouterside span.btn_next a:hover{background: #4e4e4e}
div.viwebutton .viweouterside span.btn_prev a i{border: solid black 5px;border-right: none;border-top: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);width: 20px;height: 20px;display: inline-block;margin-top: 13px;margin-left:11px;}
div.viwebutton .viweouterside span.btn_next a i{border: solid black 5px;border-left: none;border-bottom: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;height: 20px;display: inline-block;margin-top: 13px;
}

/*----------------------------------------------content-------------------------------------------------------------*/
div.content{width: 1240px;margin: 0 auto;}
.content .floor_top{margin-top:18px;float: left;width: 100%;height:32px;margin-bottom: 10px;}
.content .floor_top h1 a{font-size: 30px;color: #2a2a2a;font-weight: normal;float:left;line-height: 32px;}
.content .floor_top p{float: left;margin-top:16px;}
.content .floor_center{float: left}
/*------------todaypopular----------*/
.todaypopular{clear: both;}
.todaypopular .floor_centerl{width:  970px;clear: both;float: left}
 .floor_cltop{float: left;clear: both;}
.floor_centerl .floor_clbottom{float: left;}
.todaypopular .floor_top p span{display: inline-block;padding-right:9px;padding-left:9px;height:16px;line-height: 16px;border-radius: 2px;background: #ff7e00;color: #fff;margin-right: 4px;margin-left: 8px;}
 .floor_cltop .cltop_left{position: relative;width: 370px;height:320px;}
 .floor_cltop .cltop_left .todayunder{position: absolute;left:0;bottom: 0;height:50px;background: rgba(0,0,0,0.6);width:370px;}
 .floor_cltop .cltop_left .todayunder div{height:50px;width: 50px;background: #e87201;position: relative;float: left}
.floor_cltop .cltop_left .todayunder div i.triangle_right{border:12px dashed transparent;border-left-color: #fff;border-left-width:16px;position: absolute;left:35%;top:30%;display: inline-block}

 .floor_cltop .cltop_left .todayunder p{float: left;color: #ffffff;position: relative;z-index: 20;padding-left: 10px;width: 310px;height:20px;line-height: 20px;}
 .floor_cltop .cltop_left .todayunder p.top{padding-top:5px;}
.floor_cltop .cltop_left .todayunder p.top span{float: right;padding-right: 10px;}

/*todaypopular-cltop_right 跳过搜索框后接续下部分*/
 div.cltop_right{float: left;width: 585px;margin-left:10px;margin-top:-5px;}
 .floor_cltop a{float: left;width: 175px;}

div.floor_cltop div.cltop_right ul.todaytop{clear: both}
li.list_item {float: left;width: 175px;margin-right: 10px;overflow: hidden;margin-bottom: 16px;padding:5px;}
li.list_item  a img{width: 175px;height: 100px;}
li.list_item  a.figure{height: 100px;overflow: hidden;position: relative}
.floor_cltop a.floor_cltopimg{width: 370px;height:320px;}
 li.list_item p i{background:url("../images/sprite_common.png") no-repeat -150px 0;width: 11px;height:11px;float: left;padding-right:6px; }
 li.list_item  p{height:14px;line-height: 14px;float: left;color: #989898;margin-bottom: 5px;}
li.list_item a.subtitle{height: 30px;line-height: 30px;color: #2a2a2a}
li.list_item a.subtitle:hover{color: #ff7800;}
 li.list_item  a.figure span.figure_mask{position: relative;bottom: 24px;color: #fff;background: rgba(0,0,0,.5);width: 170px;height: 20px;line-height: 20px;padding-left: 5px;}
li.list_item  a.figure span.figure_maskWidth{width: 185px;}
div.floor_center a.figure span.figure_bottom{
    padding-left: 5px;
    position: relative;
    top: -24px;
    width: 185px;
    color: #fff;
    background: rgba(0,0,0,.5);
    height: 20px;
    line-height: 20px;
}
 li.list_item:hover{background: #f0f0f0;}


    /*搜索栏弹出框*/
ul.searchend{position: absolute;top:61px;box-shadow: 0 1px 3px #aaa;background: #fff;z-index: 99;display: none}
ul.searchend li{border-bottom: 1px #ececec;width: 413px;padding:0 10px;clear: both;overflow: hidden;height:auto;}
ul.searchend li a.item_posi{height:31px;line-height: 31px;padding-top: 3px;}
ul.searchend li a.item_posi span.result_title em.c_txt3{color:#000;font-size: 12px; }
ul.searchend li a.item_posi span{color:#8e8e8e;font-size: 12px}
ul.searchend li div.wrap_content{display: none}
ul.searchend li:hover div.wrap_content{display: block}
ul.searchend li div.wrap_content a.figure{float: left;margin-right: 10px;}
ul.searchend li div.wrap_content a.figure img{width: 110px;height:62px;}
ul.searchend li div.wrap_content div.wrap_right div.detail_list h3{line-height: 13px;height:15px;color: #999;font-weight: normal}
ul.searchend li div.wrap_content div.wrap_right div.detail_list p{line-height: 20px;height:20px;color: #2a2a2a; white-space: nowrap;max-width: 290px;
    overflow: hidden;
    text-overflow: ellipsis}
ul.searchend li div.wrap_content div.wrap_right a.btn_play{padding:0 10px;background: -webkit-linear-gradient(top,#F79137 0,#ff7800 100%);text-align: center;border:1px solid #ff7800;color: #fff;height:23px;line-height: 23px;width: auto;display: inline-block;float: left;margin-bottom: 10px;}
ul.searchend li:hover{background: #f2f2f2;}
ul.searchend li div.wrap_content div.wrap_right a.btn_play:hover{background: #f79137;border-color: #F79137;color: #fff;}
ul.searchend li a.item_posi span.item_posi i.icon_arrow{display: inline-block;width: 0;height: 0;border:4px dashed transparent;border-top:4px solid #7e7e7e;background: none;margin-top: 8px;}
ul.searchend li a.item_posi span.item_posi{float:right;margin-top: 6px;}
ul.searchend li:hover a.item_posi span.item_posi i.icon_arrow{border:4px dashed transparent;border-bottom:4px solid #7e7e7e;margin-top: 4px;}

/*todaypopular-floor_clbottom*/
.todaypopular .floor_clbottom{float: left;width: 100%;}
.todaypopular .floor_clbottom div.figures_title{
    height: 18px;margin-bottom: 14px;  text-align: center; position: relative;width:100%;}
.todaypopular .floor_clbottom a.round_text_wrap{position: relative;height: 18px;padding: 0 10px;background: #fff; z-index: 5  }
.todaypopular .floor_clbottom  a.round_text_wrap span.round_text_orange{background:#ff7e00;color: #fff;
    padding:0 4px;height: 16px;line-height: 16px;border-radius: 2px;vertical-align: top;letter-spacing: normal;
}
.todaypopular .floor_clbottom div.figures_title:after{content: '';position: absolute;top: 8px;left: 0;width:100%;height: 1px;z-index: 1;  background: -webkit-linear-gradient(left,rgba(186,186,186,0) 0,rgba(186,186,186,1) 20%,rgba(186,186,186,1) 80%,rgba(186,186,186,0) 100%);}
div.floor_clbottom div.mod_figures_promotionl{width: 780px;float: left;}
div.floor_clbottom div.mod_figures_promotionr{width: 175px;float: left;}

/*.todaypopular .floor_centerright*/
.floor_centerright {float: left;width: 265px;}
.floor_centerright .mod_title{margin-top:-36px;float: left}
.floor_centerright .mod_title h6{font-size: 23px;font-weight: normal;text-align: left }
.mod_bd{float: left;background: #f0f0f0; }
.mod_bd .choice_figure_large{float: left;padding-bottom:29px;border-bottom: 1px solid #ddd;}
.mod_bd .choice_figure_large a img{width: 265px;height: 185px;}
.mod_bd  .mod_figures{float: left;padding-top:10px;}
.mod_figures ul{float: left}
.mod_figures li.list_item{height:50px;margin:0 15px 10px;overflow: hidden;width: 235px;float: left }
.mod_figures li.list_item a.figure{float: left;margin-right: 10px;width: 85px;height: 50px;}
.mod_figures li.list_item img{width: 85px;height: 50px;}
.floor_centerright .mod_fd{float: left;width: 255px;height: 143px;margin-top: 5px;}
.floor_centerright .mod_fd img{width: 255px;height: 143px;}


/*original ---原创精选*/
div.original{}
div.originalleft{width: 975px;float: left}
div.originalright{width: 265px;float: left}
div.original li.list_item a.naisi img{width: 28px;height: 28px;border-right:1px solid #fff;border-top:1px solid #fff;position: relative;bottom: 28px;float: left}
div.original li.list_item a.naisi{height:17px;line-height: 17px; }

div.original div.originalright h1 a{font-size: 24px;}
div.original div.originalright a.link_inner{float: right;line-height: 45px;font-size: 14px;}
div.originalright ul li.item{float: left;width: 265px;background: #f0f0f0;height: 65px;margin-bottom: 20px;}
div.originalright ul li.item a.vplus_avater{float: left;margin-right: 10px;}
div.originalright ul li.item a.vplus_avater img{width: 65px;height:65px;}
div.originalright ul li.item span.focus_txt{float: left;width: 190px;padding-top: 10px;color: #666;}
div.originalright  div.vplus_info strong.vplus_name{width: 190px;float: left;padding-top: 10px;position: relative}
div.originalright  div.vplus_info strong.vplus_name i{width: 20px;height: 18px;position: absolute;background: url("../images/sprite_common.png") no-repeat -290px -110px;}
div.originalright  li.item:nth-of-type(1) i{right:93px;top:9px;}
div.originalright  li.item:nth-of-type(2) i{right:107px;top:9px;}

/*hotteleplay ---热播剧*/
div.hotteleplay_l{width: 975px;float: left}
div.hotteleplay_r{width: 265px;float: left}
 div.tile_sub{margin-top: 15px;}
div.tile_sub a{margin:0 10px;position: relative}
 div.tile_sub a::after{content: " ";width: 1px;height: 13px;background: #ccd5e2;position: absolute;right: -10px;top:4px;}
 div.tile_sub a:last-child::after{content: "";background: none;}
 div.tile_sub a i.triangle_right{    width: 0; height: 0; border-top: 3px solid transparent; border-left: 5px solid #919191; border-bottom: 3px solid transparent;position: absolute;right:-10px;top:7px;}
div.hotteleplay_r div.floor_top h1 a{font-size: 24px;}
div.hotteleplay_r div.floor_top h1 span{background: url("../images/sprite_common.png") no-repeat 0 -140px;width: 26px;height: 7px;margin-left: 7px;}
div.hotteleplayr_b div.floor_cltop a.floor_cltopimg{width: 265px;height: 100px;}
div.hotteleplayr_b div.floor_cltop .cltop_left {  width: 265px;  height: 100px;}
div.hotteleplayr_b div.floor_cltop .cltop_left .todayunder{width: 265px;height: 36px;}
div.hotteleplayr_b div.floor_cltop .cltop_left .todayunder div{height: 36px;width: 36px;}
div.hotteleplayr_b div.floor_cltop .cltop_left .todayunder div i{background: none;border: none;color: #fff;}
div.hotteleplayr_b div.floor_cltop .cltop_left .todayunder p {width: 265px;float: none;padding-left: 50px;height:36px;line-height: 27px;}
div.hotteleplayr_b div.floor_cltop .cltop_left .todayunder div i{width:9px;height:21px;background:url("../images/hotteleplay/number.png") no-repeat 0 0}
div.hotteleplayr_b div.top_list_ver {background: #f0f0f0;width: 265px;}
div.hotteleplayr_b div.top_list_ver ol.top_list{width: 117px;padding-left: 15px;float: left;padding-top:8px;padding-bottom: 8px;background: #f0f0f0}
div.hotteleplayr_b div.top_list_ver ol.top_list li{height: 30px;line-height: 30px;float: left;width: 117px; }
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i{width: 14px;height: 14px;background:#ff7800 url("../images/hotteleplay/number.png") no-repeat ;float: left;margin-top: 8px;margin-right: 4px;}
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title span{height: 30px;line-height: 30px;}
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i.num_2{background-position:-37px 2px; }
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i.num_3{background-position:-57px 2px; }
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i.num_4{background-position:-77px 2px; }
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i.num_5{background-position:-97px 2px; }
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i.num_6{background-position:-117px 2px; }
div.hotteleplayr_b div.top_list_ver ol.top_list li a.top_title i.num_7{background-position:-137px 2px; }
div.hotteleplayr_b div._switchad{width: 265px;height: 110px;overflow: hidden;position: relative}
div.hotteleplayr_b div._switchad ul.ad_listcf{width:795px;height: 110px;}
div.hotteleplayr_b div._switchad ul.ad_listcf li{float: left;width: 265px;height: 110px;}
div.hotteleplayr_b div._switchad ul.ad_listcf li a img{width: 100%;height: 100%;}
div.hotteleplayr_b div._switchad div.ad_page{width:27px;height: 4px;top:7px;left: 230px;position: absolute; }
div.hotteleplayr_b div._switchad div.ad_page a.page_item{width: 2px;height: 2px;border: 1px solid #fff;margin-left: 5px;float: left}
div.hotteleplayr_b div._switchad div.ad_page a.current{width: 4px;height: 4px;background: #f6790b;border: none}

/*关灯效果*/
#light{
    background: black;
    opacity: 0.5;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/*hotoverside 热剧周边*/
div.hotoverside div.mod_figure_h_220{width: 400px;float: left;height: 160px;background: #ededed;}
div.hotoverside div.mod_figure_h_220 a{width: 220px;height: 160px;float: left;margin-right: 15px;}
div.hotoverside div.mod_figure_h_220 strong.figure_title{width: 165px;float: left;margin-top: 15px;}
div.hotoverside div.mod_figure_h_220 strong.figure_title a{font-size: 14px;height: 28px;line-height: 28px;}
div.hotoverside div.mod_figure_h_220 p{float: left;width: 155px;height: 20px;line-height: 20px;color: #999;margin-top: 0;padding-right: 10px;}
div.hotoverside div.cltop_right{width: 830px;float: left;}
div.hotoverside div.cltop_right li.list_item{width: 190px;}
div.hotoverside div.cltop_right li.list_item a img{width: 190px;height: 110px;}
div.hotoverside div.cltop_right li.list_item a.figure{height: 110px;}
div.hotoverside div.cltop_right li.list_item p{margin-top: 0}

/*doorDIV 滑动门层*/
.doorDiv {
    width: 100%;
    height: 130px;
    overflow: hidden;
    float: left;
    position: relative;
    margin-top: 12px;

}

.door {
    width: 9999px;
    height: 105px;
    position: absolute;
    left: 0;
}

.door li {
    width: 248px;
    height: 105px;
    overflow: hidden;
    float: left;
    left: 0;
    position: relative;
}

.door li span {
    width: 0;
    height: 100%;
    text-align: center;
    display: inline-block;
    float: left;
    top: 10px;
    position: absolute;
}

.door li a {
    display: inline-block;
    float: left;
}

.variety .hotteleplay_r{margin-top: 60px;}














.site_footer{
    position: relative;
    clear: both;
    overflow: hidden;

    background-color:#EBEBEB ;

}
.site_footer .footer_inner{
    width: 1240px;
    margin: 25px auto 10px;


}
.site_footer .footer_inner .inner_top{
    padding: 15px 0 20px 80px;
    overflow: hidden;
    background-color: #ffffff;
}
.site_footer .footer_inner .inner_top .inner_top_hot{
    float: left;
    margin-right: 40px;
    padding-right: 40px;
    width: 320px;
    border-right: 1px solid #E1E1E1;
}
.site_footer .footer_inner .inner_top .contentInfo_title{
    padding-bottom: 5px;
    color: #979797;
    font-size: 14px;
}
.site_footer .footer_inner .inner_top .inner_top_hot ul li{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding-top: 6px;
    letter-spacing: normal;
    font-size: 12px;
}
.site_footer .footer_inner .inner_top  a{
    color:#595959;
}
.site_footer .footer_inner .inner_top  .item3{
    width: 3em;
}
.site_footer .footer_inner .inner_top .inner_top_special{
    width: 160px;
}
.site_footer .footer_inner .inner_top .inner_top_down{
    width:245px ;
}
.site_footer .footer_inner .inner_top .inner_top_server{
    margin-right: 12px;
    border: none;
    width: 140px;
}
.site_footer .footer_inner a:hover{
    color: #ff7800;
}

.site_footer .inner_content{

    position: relative;
    padding: 20px 0 15px 160px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDD;
}
.site_footer .inner_content .parent_title{
    position: absolute;
    top: 24px;
    left: 80px;
    height: 40px;
    font-size: 14px;
    color: #979797;
    vertical-align: top;
}
.site_footer  .inner_content .parent_row{
    display: inline-block;
    vertical-align: top;
    margin: 2px auto 4px;
    zoom: 1;

}
.site_footer  .inner_content .parent_row .parent_links{
    display: inline-block;
    line-height: 28px;
}

.site_footer  .inner_content .parent_row .parent_links a{
    display: inline-block;
    padding: 0 8px;
    color: #6d6d6d;
}
.site_footer  .inner_content .parent_row .parent_links a:hover{

    color: #ff7800;
}
.site_footer  .inner_bottom{
    line-height: 30px;
    padding: 15px;
    text-align: center;
    color: #838383;
}
.site_footer  .inner_bottom a{
    color: #838383;

}